body {
	padding: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

body#stream ul#tag_stream li {
	margin: 10px;
	background-color: #fff;
}

body#stream ul#tag_stream li a {
	border-bottom: none;
	color: #111;
	font-size: 2em;
}

body#stream ul#tag_stream li a:hover {
	background-color: #111;
	color: #eee;
}

h1 {
	font-size: 3em;
	color: #ccc;
	padding: 20px;
	clear: both;
}

li {
	list-style-type: none;
	float: left;
	position: relative;
	margin: 5px;
	letter-spacing: .06em;
	word-spacing: .2em;
	line-height: 1.6em;
	padding: .5em;
	font-size: .8em;
}

a.highlight {
	background-color: #eee;
	font-size: 1.7em;
	color: #333;
}

a.highlight:hover {
	
}

div.user_actions {
	display: block;
}

ul.messages li {
	clear: both;
	border-bottom: 3px dashed #eee;
	margin-top: 15px;
}

li span {
	display: block;
}

a {
	text-decoration: none;
	border-bottom: 3px solid #fff;
	color: #444;
	font-weight: bold;
}

a:hover {
	border-bottom: 3px solid #333;
	background-color: #06f8ef;
	color: #000;
}

p#more_tags {
	clear: both;
}

div.tags {
	clear: both;
	width: 800px;
	margin-top: 10px;
}
body#stream ul#tag_stream li.tags {
	position: relative;
	padding: 5px;
	margin: 5px;
}

body#stream ul#tag_stream li.tags div.content {
	position: absolute;
}

body#stream ul#tag_stream li.tags div.content ul {
	margin-top: 10px;
}

body#stream ul#tag_stream li.tags div.content ul li {
	position: relative;
	clear: both;
	margin-top: 0px;
	background-color: #eee;
	width: 500px;
	z-index: 5;
	line-height: 15px;
	padding-bottom: 10px;
	color: #111;
}

body#stream ul#tag_stream li.tags:hover {
	background-color: #222;
	color: #eee;
}

body#stream ul#tag_stream li.tags span, li.close {
	font-size: 2em;
	cursor: pointer;
}

li.close { 
	color: #111;	
	font-size: 20px !important;
	font-weight: bold;
}

body#stream ul#tag_stream li.tags div.content ul li, body#stream ul#tag_stream li div.content ul li a {
	font-size: .95em;
}
