$def with (entries,next_page,prev_page,user_id)  
<p><a href="/">Tape Chat</a></p>
<ul>
$if user_id < 1:
  <li><a href="/login">Login</a></li>
  <li><a href="/user/new">Sign up</a></li>
$else:  
  <li><a href="/feed/new">Add new Feed</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<h1>Tags</h1>
<ul>
$if entries:
  $:entries
$else:
  <li>No tags set.</li>
</ul>
<p id="more_tags">
  $if prev_page > -1:
    <a href="/?page=$prev_page">View previous tags</a>
  $if next_page > -1:
    <a href="/?page=$next_page">View more tags</a>
</p>